<footer class="p2pu-footer">
	<div class="container">		
		<div class="col-md-12 cc-by-sa">
			<img src="{{site.baseurl}}/img/cc-icons.png" alt="CC-BY-SA Icon">
			<p>
				Якщо це не вказано явно, всі матеріали цього сайту підлягає ліцензії
				<a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution Share Alike 4.0</a> Unported.
			</p>
			<p>
				<a target="_blank" href="{{ site.baseurl }}/modules/tutorial/start/">
				Cтворіть власний курс </a> з допомогою <a target="_blank" href="https://www.p2pu.org">P2PU</a>.		
			</p>
		</div>
	</div>
</footer>

